@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Dark Slate Blue */
  color: white;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}